@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 120%;
}

h6 {
    font-size: 1.3em;
    font-weight: 500;
}

p {
    font-size: 1.2em;
    font-weight: 300;
}

button {
    padding: .4em .8em;
    color: white;
    border-radius: 5px;
}

.btn-purple-dark {
    background-color: #3C096C;
    border: 5px solid #3C096C;
    transition: .3s;

    &:hover {
        background-color: #7B2CBF;
        border-color: #7B2CBF;
    }
}

.btn-purple-light {
    background-color: #C77DFF;
    border: 5px solid #C77DFF;
    transition: .3s;

    &:hover {
        background-color: #EDAAFF;
        border-color: #EDAAFF;
    }
}

.purple-bg-light {
    background-color: #F7DBFE;
}

.purple-bg-dark {
    background-color: #3C096C;
}

.purple-dark {
    color: #3C096C;
}

.purple-light {
    color: #F7DBFE;
}